body {font-family: sans-serif;
    text-align: center;
    background-color: rgba(182, 189, 199, 0.39);
}

.content {
    border: 5px solid blue;
    width: 150px;
    height: 50px;
    margin: 50px;
    }

h1 {
    color: hsl(357, 100%, 50%);
    text-decoration: underline;
    text-align: inherit;
}

img {
    width: 50%
}
p {
    text-align: center;
    text-decoration: solid;
    text-transform: initial;
    
}







